{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<li><a href="{% url 'main' %}" class="nav-link px-2  text-white "><ya-tr-span data-index="19-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Features" data-translation="Характеристики" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Главное</ya-tr-span></a></li>
<li><a href="{% url 'dog' %}" class="nav-link px-2 text-white"><ya-tr-span data-index="20-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Цены" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Договора</ya-tr-span></a></li>
<li><a href="{% url 'alldogovor' %}" class="nav-link px-2 text-secondary"><ya-tr-span data-index="20-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Цены" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Все Договора</ya-tr-span></a></li>
<li><a href="{% url 'q_answer' %}" class="nav-link px-2 text-white"><ya-tr-span data-index="21-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="FAQs" data-translation="Вопросы и ответы" data-ch="1" data-type="trSpan" style="visibility: initial !important;">Вопросы и ответы</ya-tr-span></a></li>
<li><a href="#" class="nav-link px-2 text-secondary"><ya-tr-span data-index="22-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-ch="1" data-type="trSpan" style="visibility: initial !important;">О нас</ya-tr-span></a></li>
{% endblock navbar %}

{% block title %}
О нас - Смарт-контракты: будущее права
{% endblock title %}
    

{% block content %}

    <header>
        </header>
    <main>
        <section class="container about">
            <h2>О нас</h2>
            <p>Наш сайт посвящен правовым аспектам смарт-контрактов. Мы команда опытных юристов и специалистов по технологии блокчейн, которые...</p>
            <ul class="list-group">
                <li class="list-group-item">Предоставляем консультации по вопросам смарт-контрактов</li>
                <li class="list-group-item">Разрабатываем и внедряем смарт-контракты</li>
                <li class="list-group-item">Проводим исследования и публикуем статьи о смарт-контрактах</li>
                <li class="list-group-item">Участвуем в образовательных программах по смарт-контрактам</li>
            </ul>
            <p>Наша миссия - сделать смарт-контракты доступными и понятными для всех.</p>
            <a href="#" class="btn btn-primary">Связаться с нами</a>
        </section>
    </main>
    <footer>
        </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>

{% endblock content %}
